.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
melpa-stable
elpa
custom.el
archive-contents
*.elc
.cache
recentf
transient
network-security.data
