.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
eshell
backups/
tramp
tutorial/
viperelpa/
elpa/
viper
*.*~
.emacs.desktop
.emacs.desktop.lock
*#
*~
*.elc
src
url
session.*
bookmarks
recentf
*.b0
games/
private/self.el
*.swp
nul
null
private/nul
server/
TAGS
config/.nrepl-history
**/g_*/
**/t_*/