.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
eshell
backups/
tramp
tutorial/
viperelpa/
elpa/
viper
*.*~
.emacs.desktop
.emacs.desktop.lock
*#
*.elc
src
url
